

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Header.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="~/css/Calendar.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />
    <link rel="stylesheet" href="~/css/TeacherProfile.css" />
    <link rel="stylesheet" href="~/css/AddCourse.css" />
    <link rel="stylesheet" href="~/css/Course.css" />
    <link rel="stylesheet" href="~/css/CourseProfile.css" />
    <link rel="stylesheet" href="~/css/StudentProfile.css" />
    <link rel="stylesheet" href="~/css/DeleteTask.css" />

    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light" id="header">
            <div class="container-fluid">
                <a href="~/Home/Index" class="navbar-brand"><img src="~/img/загружено.png" id="logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        @if (User.Identity.IsAuthenticated)
                        {

                            if (User.IsInRole("teacher"))
                            {
                                <a id="userName" asp-controller="Teacher" asp-action="Profile">@User.Identity.Name</a>
                            }
                            else if (User.IsInRole("student"))
                            {
                                <a id="userName" asp-controller="Student" asp-action="Profile">@User.Identity.Name</a>

                            }
                            else if (User.IsInRole("admin"))
                            {

                            }

                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="btn btn-danger">Выход</button>
                            </form>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <form method="get" asp-controller="Account" asp-action="Login">
                                    <button type="submit" class="btn btn-danger">Вход</button>
                                </form>

                            </li>

                            <li class="nav-item active">
                                <form method="get" asp-controller="Account" asp-action="ChooseUserType">
                                    <button type="submit" class="btn btn-danger">Регистрация</button>
                                </form>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>


    @RenderBody()


    @*<footer id="footer">
            <table>
                <tr>
                    <td id="sizeTd">
                        <p id="who">Учителям</p>
                        <div id="infoFoot">
                            <a href=""><p id="kindText">Добавить курс</p></a>
                            <a href=""><p id="kindText">Повышение квалификации</p></a>
                            <a href=""><p id="kindText">Мероприятия</p></a>
                        </div>
                    </td>
                    <td id="sizeTd">
                        <p id="who">Студентам</p>
                        <div id="infoFoot">
                            <a href=""><p id="kindText">Курсы</p></a>
                            <a href=""><p id="kindText">Журнал оценнок</p></a>
                            <a href=""><p id="kindText">Новости</p></a>
                            <a href=""><p id="kindText">Тесты</p></a>
                            <a href=""><p id="kindText">Трудоустройство</p></a>
                        </div>
                    </td>
                    <td id="sizeTd">
                        <p id="who">Администратору</p>
                        <div id="infoFoot">
                            <a href=""><p id="kindText">Добавить новости</p></a>
                        </div>
                    </td>
                </tr>

            </table>
            &copy; 2020 - CrazyDev
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Calendar.js"></script>
    <script src="~/js/Popup.js"></script>



    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

