@model UsersViewModel;

@{ 
    Layout = "_LayoutForAdmin";
}

<a asp-controller="Admin" asp-action="CreateStudent">Добавить студента </a>|
<a asp-controller="Admin" asp-action="CreateTeacher">Добавить преподователя</a>
<table class="table">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Потдтвержден ?!</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model.AllUsers)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => user.Surname)</td>
                <td>@Html.DisplayFor(modelItem => user.Name)</td>
                <td>@Html.DisplayFor(modelItem => user.Patronymic)</td>
                <td>@Html.DisplayFor(modelItem => user.IsAccepted)</td>
                <td>
                    <a asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id">Редактировать</a> |
                    <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
