@model StudentSubjectViewModel

    <a href="#" onclick="history.back();return false;"><button type="button" class="btn btn-outline-warning">Назад</button></a>
<h2>Добавить студента к курсу @Model.Subject.Name</h2>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Группа</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model.Students)
        {
        <tr>

            <td>@student.User.Name</td>
            <td>@student.User.Surname</td>
            <td>@student.User.Patronymic</td>

            <td>@student.Group.Name</td>

            <td>
                <a asp-controller="Subject" asp-action="AddStudentToSubject" asp-route-subjectId="@Model.Subject.Id" asp-route-studentId="@student.Id">Добавить</a> |

            </td>
        </tr>
        }
    </tbody>
</table>