@model SubjectInfoViewModel

@{
    ViewData["Title"] = Model.Subject.Name;
}

<table>
    <tr>
        <td>
            <div>
                <h1>Лекции</h1>

                @foreach (Mentor.Models.Task task in Model.Tasks)
                {
                    <a asp-controller="Task" asp-action="IndexTeacher" asp-route-taskId="@task.Id"><p>@task.Name</p></a>
                }

                <a id="add-cart-style-list" class="btn btn-success" asp-controller="Task" asp-action="AddTask" asp-route-subjectId="@Model.Subject.Id">Добавить задание</a>

            </div>

        </td>
        <td id="tdInfo">
            <p><a asp-controller="Subject" asp-action="ListTeacher" asp-route-subjectId="@Model.Subject.Id"> Список преподавателей</a></p>
            <p><a asp-controller="Subject" asp-action="ListStudent" asp-route-subjectId="@Model.Subject.Id"> Список студентов</a></p>

            <a href=""><p>Журнал</p></a>
            <a id="add-cart-style-list" class="btn btn-success" asp-controller="Subject" asp-action="AddStudentToSubject" asp-route-subjectId="@Model.Subject.Id">Добавить студента</a>
            <a id="add-cart-style-list" class="btn btn-success" asp-controller="Subject" asp-action="AddTeacherToSubject" asp-route-subjectId="@Model.Subject.Id">Добавить преподавателя</a>

        </td>
    </tr>
</table>

