@model StatusTaskViewModel

@{
    ViewData["Title"] = Model.Task.Name;
}
@*<a href="#" onclick="history.back();return false;">Вернуться назад</a>

<a href="@Url.Action("Download", new {path = Model.Task.TheoryPath})" class="not-filled recent">Загрузить теоретический материал</a>*@

<h2>Статус работы</h2>

<table>
    <tr>
        <td>
            <div>
                <p>Статус</p>

                @if (Model.TaskStudent == null)
                {
                    <strong> Не сдано </strong>
                }
                else
                {
                    <strong> Сдано на оценивание </strong>

                    @if (Model.TaskStudent.MarkValue < 0)
                    {
                        <strong> Не оценено </strong>
                    }
                    else
                    {
                        <strong> Оценено </strong>
                    }

                }
            </div>

        </td>
    </tr>

    <tr>
        <td>
            <div>
                <p>Сдать до:</p>
                <strong> @Model.Task.DeadlineTime </strong>
            </div>

        </td>
    </tr>

    <tr>
        <td>
            <div>
                <p>Оставшееся время</p>
                <strong> to be added </strong>
            </div>

        </td>
    </tr>

    @if (Model.TaskStudent != null && Model.TaskStudent.MarkValue >= 0)
    {
        <tr>
            <td>
                <div>
                    <p>Оценка</p>
                    <strong> @Model.TaskStudent.MarkValue </strong>
                </div>

            </td>
        </tr>

        <tr>
            <td>
                <div>
                    <p>Описание</p>
                    <strong> @Model.TaskStudent.MarkDescription </strong>
                </div>

            </td>
        </tr>

    }

    <tr>
        <td >

            @if (Model.TaskStudent == null || Model.TaskStudent.MarkValue < 0)
            {
                 <form method="post" asp-controller="Task" asp-action="SendSolutionOnTask" enctype="multipart/form-data">
                     <div asp-validation-summary="ModelOnly"></div>
                     <input type="hidden" name="TaskId" value="@Model.Task.Id" />
                     <input type="hidden" name="SubjectId" value="@Model.SubjectId" />

                     <div>
                         <label asp-for="UploadedFile">Выберите файл</label><br />
                         <input asp-for="UploadedFile" type="file" name="uploadedFile" />

                     </div>
                     <div style="padding-top:20px;">
                         <input type="submit" class="btn btn-success" value="Сдать задание" />
                     </div>
                 </form>
            }


        </td>
    </tr>


</table>
