@model StudentThatPassedViewModel

@{
    ViewData["Title"] = "Студенты сдавшие задание " + Model.Task.Name;
}


<!-- Button trigger modal -->
<p align="right">
</p>
<a href="#" onclick="history.back();return false;"><button type="button" class="btn btn-outline-warning">Назад</button></a>


<h3>Студенты</h3>
<table class="generaltable">
    <tbody>
        <tr class="">
            <th class="cell c0" style="" scope="row">Имя</th>
            <th class="cell c0" style="" scope="row">Фамилия</th>
            <th class="cell c0" style="" scope="row">Отчество</th>
            <th class="cell c0" style="" scope="row">Группа</th>
            <th class="cell c0" style="" scope="row">Оценка</th>
            <th class="cell c0" style="" scope="row">Действие</th>

        </tr>
        @*<table>
            <tr>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Отчество</td>
                <td>Группа</td>
                <td>Оценка</td>
                <td></td>
            </tr>*@
        @if (Model != null)
        {
            @foreach (N_To_N_TaskStudent taskStudent in Model.TaskStudents)
            {

                <tr class="">
                    <td class="cell c0" style="" scope="row">@taskStudent.Student.User.Name</td>
                    <td class="cell c0" style="" scope="row">@taskStudent.Student.User.Surname</td>
                    <td class="cell c0" style="" scope="row">@taskStudent.Student.User.Patronymic</td>
                    <td class="cell c0" style="" scope="row">@taskStudent.Student.Group.Name</td>

                    @if (taskStudent.MarkValue > 0)
                    {
                        <td class="sdano" style="" scope="row">@taskStudent.MarkValue</td>
                    }
                    else
                    {
                        <td class="nesdano" style="" scope="row">---</td>
                    }

                    @if (taskStudent.MarkValue < 0)
                    {
                        <td class="cell c0" style="" scope="row"><a asp-controller="Task" asp-action="MarkTask" asp-route-taskId="@taskStudent.TaskId" asp-route-studentId="@taskStudent.StudentId"><button type="button" class="btn-sm btn btn-outline-success">Оценить</button></a></td>
                    }
                    else
                    {
                        <td class="cell c0" style="" scope="row"><a asp-controller="Task" asp-action="DeleteTaskMark" asp-route-taskId="@taskStudent.TaskId" asp-route-studentId="@taskStudent.StudentId"><button type="button" class="btn-sm btn btn-outline-danger ">Удалить оценку</button></a></td>
                    }
                </tr>

            }
        }
    </tbody>

</table>

