@model User
@{
    ViewData["Title"] = @Model.Name;
}
    <table>
        <col width="30%" valign="top">
        <col width="70%" valign="top">
        <tr>
            <td id="leftPast">
                <table id="widthTableInfo">
                    <tr>
                        <td height="250px">
                            <p align="center"><img src="~/img/noName.png" id="noName" /></p>
                        </td>
                    </tr>
                    <tr>
                        <td height="350px" id="tdContentPol">
                            <form method="get" asp-controller="Teacher" asp-action="AddCourse">
                                <p><button type="submit" class="btn btn-primary" id="buttInfo">Добавить курс</button></a></p>
                            </form>
                            <form method="get" asp-controller="Teacher" asp-action="AddCourse">
                                <p><button type="button" class="btn btn-danger" id="buttInfo">Удалить курс</button></p>
                            </form>
                            <form method="get" asp-controller="Teacher" asp-action="AddCourse">
                                <p><button type="button" class="btn btn-success" id="buttInfo">Написать сообщение</button></p>
                            </form>

                        </td>
                    </tr>
                </table>
            </td>

            <td id="rightPast">
                <table class="table">
                    <tr>
                        <td height="200px" id="elmList" width="600px">
                            <div id="location">
                                <p>Имя: @Model.Name</p>
                                <p>Фамилия: @Model.Surname</p>
                                <p>Номер телефона: @Model.PhoneNumber</p>
                                <p>Время регистрации: @Model.RegistrationDate</p>
                                <p>Email: @Model.Email</p>
                            </div>
                        </td>
                        <td rowspan="2">
                            <div id="margintoTop">
                                <p id="calendar" padding-top="0">Навигация</p>
                                <div id="listCourse">
                                    <p><a href="">На главную</a></p>
                                    <p>
                                        <select>
                                            <option disabled selected value="Мои курсы">Мои курсы</option>
                                            <option href="">Какой то курс</option>
                                            <option href="">Какой то курс</option>
                                            <option href="">Какой то курс</option>
                                        </select>
                                    </p>
                                    <p><a href="">Информационная страница</a></p>
                                </div>
                            </div>
    
                        </td>
                    </tr>
                    <tr >
                        
                        <td height="400px" id="elmList" width="600px">   
                            <p id="calendar">Мои курсы</p>
                            <ol class="rounded" >
                                <li><a href="#" >Элемент списка</a></li>
                                <li><a href="#" >Элемент списка</a></li>
                                <li><a href="#" >Элемент списка</a></li>
                                <li><a href="#" >Элемент списка</a></li>
                                <li><a href="#" >Элемент списка</a></li>
                            </ol>
                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

