@model User
@{
    ViewData["Title"] = "Mentor";
}
    <table>
        <col width="30%" valign="top">
        <col width="70%" valign="top">
        <tr>
            <td id="leftPast">
                <table id="widthTableInfo">
                    <tr>
                        <td height="250px">
                            <p align="center"><img src="~/img/noName.png" id="noName" /></p>
                        </td>
                    </tr>
                    <tr>
                        <td height="350px" id="tdContentPol">
                            <form method="get" asp-controller="Teacher" asp-action="AddCourse">
                                <p><button type="submit" class="btn btn-primary" id="buttInfo">Добавить курс</button></a></p>
                            </form>
                            <form method="get" asp-controller="Teacher" asp-action="AddCourse">
                                <p><button type="button" class="btn btn-danger" id="buttInfo">Удалить курс</button></p>
                            </form>
                            <form method="get" asp-controller="Teacher" asp-action="AddCourse">
                                <p><button type="button" class="btn btn-success" id="buttInfo">Написать сообщение</button></p>
                            </form>

                        </td>
                    </tr>
                </table>
            </td>

            <td id="rightPast">
                <table>
                    <tr>
                        <td height="200px">
                            <div id="location">
                                <p>Имя: @Model.Name</p>
                                <p>Фамилия: @Model.Surname</p>
                                <p>Номер телефона: @Model.PhoneNumber</p>
                                <p>Время регистрации: @Model.RegistrationDate</p>
                                <p>Email: @Model.Email</p>
                            </div>
                        </td>
                    </tr>
                    <tr height="400px">
                        <td>
                            <p>Курсы: </p>
                            <div class="sliderCourse">
                                
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>